In [2]:
A,B,C=1,34.6,"W"
print(A)
print(B)
print(C)

1
34.6
W

In [1]:
#3
#python accepts every user input in form of string 
io=input("enter num")
print(type(io))
#to apply any mathematical operation casting is imp
sum1=int(io)+int(io)
sum=io+io #"+"acts as concatenation character 
print(sum1)
print(sum)

enter num45
<class 'str'>
90
4545

In [17]:
#4
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
list = [ 'abcd', 786 , 2.23, 'john', 70.2  ]
#tuple[2] = 1000    # Invalid syntax with tuple, tuple cannot be updated whereas lists can be
list[2] = 1000 
print(tuple)
print(list)

('abcd', 786, 2.23, 'john', 70.2)
['abcd', 786, 1000, 'john', 70.2]

In [19]:
print (tuple * 2)       # Prints the contents of the tuple twice
print (tuple + tuple)

('abcd', 786, 2.23, 'john', 70.2, 'abcd', 786, 2.23, 'john', 70.2)
('abcd', 786, 2.23, 'john', 70.2, 'abcd', 786, 2.23, 'john', 70.2)

In [5]:
dict={1:'adani'} #dict can be changed later, mutable data type
dict[2]="collabera"
print(dict)
print(type(dict))
list_dict=dict.values()
print(type(list_dict))

{1: 'adani', 2: 'collabera'}
<class 'dict'>
<class 'dict_values'>

In [19]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits

print(type(x))

<class 'str'>

In [22]:
#5
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits

print(type(x),x)
#If you have a collection of values in a 
#list, tuple etc. Python allows you extract the values into variables. This is called unpacking.
#unpacking a tuple:to extract the values back into variables.
#* is used for printing many than one variable in a list
fruits=("banana","apple","cherry","pineapple")
(white,*red,yellow)=fruits

#below print statement signifies use of ((","-- printing three variables(any type)) , "+" operator)
#"+" operator is for concatenation so cannot be used with #red as it is a list
#therefore this is the way to print the following values for three diff lines
print(white + "\n" ,red ,"\n" + yellow)

<class 'str'> apple
banana
 ['apple', 'cherry']
pineapple

In [6]:
#6
#a string containing numbers can only be converted to float/int
srty="10.9"
s=float(srty)
print((s))

10.9

In [5]:
#creation of dictionary using dict() func
d=dict(dt="ty",date=9)
print(d)
print(type
     (d))

{'dt': 'ty', 'date': 9}
<class 'dict'>

In [10]:
#printing last element using neg index
b = "Hello, World!"
print(b[-1])

!

In [8]:
#str with str
txt = "My name is John, I am "
print(txt+ "56")

#str to a int value
i=45
print("the wonder",i)

My name is John, I am 56
the wonder 45

In [1]:
#1
#appending numbers with string we use format() method where we cant use "+" symbol
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [9]:
#2
#use "\" (escape character) to print illegal characters in a string
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [4]:
#7
#joins tuple/dict(keys) elements and forms string
t=("great","life","series")
print(" ?".join(t))

great ?life ?series

In [2]:
#8
# Print bitwise NOT operation
a=-7
print("~a =", ~a)

~a = 6

In [12]:
#9
#using list comprehension for making and printing list containing only first 2 items of fruits

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlis = [x for x in fruits if x<fruits[2]]

print(newlis)

['apple', 'banana']

In [11]:
#10 center func for string 
#first digit donates total characters and the second one the padding character
#write string then subtract the len from the first digit then start writing one padding digit on left then 
#(if pending) right
print("abcdef".center(7, '1'))

1abcdef

In [5]:
#padding is done on the right hand side first if the final string's len is even #6
print('*', "abcde".center(6), '*', sep='')

*abcde *

In [1]:
print("aSD. DEF".capitalize())

Asd. def

In [14]:
def my_function(*kids):
  print("The youngest child is " + kids[len(kids)-1])
  print(type(kids))

my_function("Emil", "Tobias", "Linus","Emil")

The youngest child is Emil
<class 'tuple'>

In [15]:
#11
#option 1 for printing value along with return keyword
def my_function(x):
  return print(5 * x)

my_function(3)
#option 2
#print(my_function(5))

15

In [18]:
#in comparison with the below one
#check why for/else block(with break) is used instead of if/else

for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print( n, 'equals', x, '*', n/x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2.0
5 is a prime number
6 equals 2 * 3.0
7 is a prime number
8 equals 2 * 4.0
9 equals 3 * 3.0

In [21]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print( n, 'equals', x, '*', n/x)
            break
        else:
        # loop fell through without finding a factor
            print(n, 'is a prime number')
            break

3 is a prime number
4 equals 2 * 2.0
5 is a prime number
6 equals 2 * 3.0
7 is a prime number
8 equals 2 * 4.0
9 is a prime number

In [35]:
#getting distinct value from a list
cars=[1,2,45,6,2,1,2]
print(cars)
cars=list(set(cars))
print(cars)
print(type(cars))

[1, 2, 45, 6, 2, 1, 2]
[1, 2, 45, 6]
<class 'list'>

In [3]:
import pandas as np
x=dir(np)
print(x)

['BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__getattr__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_hashtable', '_is_numpy_dev', '_lib', '_libs', '_np_version_under1p16', '_np_version_under1p17', '_np_version_under1p18', '_testing', '_tslib', '_typing', '_version', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']